<html>
    <head>
        <title>Duckies Store</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="{{url_for("login")}}">Our Duckies</a></li>
                        <li><a href="{{url_for("storeFront")}}">Logout</a></li>
                        <li><a href="{{url_for("login")}}">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Duckies Store</h1>
            <p>Existing customers please login, new customers please register to order your duckies</p>
            <ul>
            {% for message in get_flashed_messages() %}
            <li>{{message}}</li>
            {% endfor %}
            </ul>
            <p>
            {% block body %}
            {% endblock %}
            </p>
        </div>
    </body>
</html>
