<html>
    <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">    
        <title>
            Confirm Order Page
        </title>
        <style>
             h1 {
                font-family: arial;
                color: #000088;
                
             }
        </style>
    </head>
    <body>
        <h1>
            Order confirmation
        </h1>

        <div id = "confirm_order">
        	<p>Thank you for shopping at the Duckie Store</p>
        	<p>Your order {{}}

        </div>

       
    </body>
</html>