<html>
    <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">    
        <title>
            Duck List
        </title>
        <style>
             h1 {
                font-family: arial;
                color: #000088;
                
             }
             .duckbox {
                border: solid blue 5px;
                width: 280px;
                margin-right: 10px;
                margin-left: 10px;
                padding: 10px 10px 10px 10px;
                float:left;
             }
        </style>
    </head>
    <body>
        <h1>
            Our Duckies
        </h1>
        <div class ="duckbox">
            <img src="static/img/duck1.jpg" height="225" style="max-width: 225px" id="duck1">
            <p>Traditional</p>
            <a class="btn btn-default" href = "/login">Like this</a>
        </div>
        <div class ="duckbox">
            <img src="static/img/duck2.jpg" id="duck2">
            <p>Polka dot Pink </p><a class="btn btn-default" href = "/login">Like this</a>
        </div>
        <div class ="duckbox">
            <img src="static/img/duck3.jpg" id="duck3">
            <p>Firery</p><a class="btn btn-default" href = "/login">Like this</a>
        </div>
    </body>
</html>