<script type="text/javascript" src="static/js/calculations.js"></script>

<script type="text/javascript">
	//write tests here :)
	var ulc = [37.800000, -122.436000];
	var test_array = [122.402756, 122.398994, 122.398491];
	var test_result = arrayOfx(test_array);
	if (test_result[0]==332 &&  test_result[1]==370 && test_result[2]==375) {
		console.log("yay, arrayOfx");
	} else {
		console.log("bad, arrayOfx");
	}
</script>

<!-- function arrayOfx(a){

	var xlist = [];
	for (var i = 0; i < a.length; i++){
	//change lng to x co-ordinate of nodes in the grid
	if ((((-ulc[1])-a[i])*1000000)%100 !== 0){
		var x = parseInt(((-ulc[1])-a[i])*1000000/100); 
 		}
	else
 		{x = ((-ulc[1])-a[i])*1000000/100;
 		}
	xlist.push(x);
	}
	return xlist;
} -->
<script type="text/javascript">
	//write tests here :)
	var test_array = [37.795132, 37.792572, 37.794949];
	var test_result = arrayOfy(test_array);
	if (test_result[0]==48 &&  test_result[1]==74 && test_result[2]==50) {
		console.log("yay, arrayOfy");
	} else {
		console.log("bad, arrayOfy");
	}
</script>
<!-- function arrayOfy(b){

			var ylist = [];
			for (var i = 0; i < b.length; i++){	
			//change lat to y co-ordinate of nodes in the grid
			if (((ulc[0]-b[i])*1000000)%100 !== 0){
		 		var y = parseInt((ulc[0]-b[i])*1000000/100); 
		 		}
			else
		 		{y = (ulc[0]-b[i])*1000000/100;
		 		}
			ylist.push(y); 	
			}
			return ylist;
		} -->

<script type="text/javascript">
	//write tests here :)
	var ulc = [37.800000, -122.436000];
	var test_array = [-122.4051466];
	var test_result = lngTox(test_array);
	if (test_result == 308) {
		console.log("yay, lngTox");
	} else {
		console.log("bad, lngTox");
	}
</script>
<!-- function lngTox(lng){

        	var lng = -(lng);
        	console.log(lng);//keeping for debugging
			if ((((-ulc[1])-lng)*1000000)%100 !== 0){
			var x1 = parseInt(((-ulc[1])-lng)*1000000/100); 
			}
			else
			{x1 = ((-ulc[1])-lng)*1000000/100;
			}
			return x1;
		} -->
<script type="text/javascript">
	//write tests here :)
	var test_array = [37.7815184];
	var test_result = latToy(test_array);
	if (test_result == 184) {
		console.log("yay, latToy");
	} else {
		console.log("bad, latToy");
	}
</script>
<!-- function latToy(lat){

			if (((ulc[0]-lat)*1000000)%100 !== 0){
			var y1 = parseInt((ulc[0]-lat)*1000000/100); 
			}
			else
			{y1 = (ulc[0]-lat)*1000000/100;
			}
			return y1;
		} -->
<script type="text/javascript">
	//write tests here :)
	var test_array = [[420, 38], [308, 184]];
	var test_result = latLngFromPath(test_array);
	if (test_result[0][0]==37.7962 && test_result[0][1]== -122.394 && test_result[1][0]==37.7816 && test_result[1][1]== -122.4052){
		console.log("yay, latLngFromPath");
	} else {
		console.log("bad, latLngFromPath");
	}
</script>
<!-- function latLngFromPath(path){

			var line_points = [];
				for (var i = 0; i < path.length; i++){
					var p = [(ulc[0] - path[i][1]*1/10000), - ((-ulc[1]) - path[i][0]*1/10000).toFixed(6)];

					line_points.push(p);
					}
					return line_points;
				} -->
<script type="text/javascript">
	//write tests here :)
	var test_array = [[420, 38], [308, 184]];
	var test_result = geoJsonFromPath(test_array);
	if (test_result.coordinates[0][0]== -122.394 && test_result.coordinates[0][1]== 37.7962 && test_result.coordinates[1][0]== -122.4052 && test_result.coordinates[1][1]== 37.7816){
		console.log("yay, geoJsonFromPath");
	} else {
		console.log("bad, geoJsonFromPath");
	}
</script>
<!-- function geoJsonFromPath(path){

			var geojson = { type: 'LineString', coordinates: []};

			for (var i = 0; i < path.length; i++){
			var p = [ - ((-ulc[1]) - path[i][0]*1/10000).toFixed(6), (ulc[0] - path[i][1]*1/10000)]    
			geojson.coordinates.push(p);
			}
			return geojson;
		} -->